{%extends 'base.html'%}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <h3 class="text-center">HoodUpdate</h3>


    <div class="footer">
        <footer class="page-footer">
            <div style=" font-size:12pt;">
                <div class="footer-copyright py-3"
                    style="padding-left: 42%;background-color:#050530;padding:20px;text-align:center;color:wheat">
                    &#169; 2021: Benjamin Kipkorir
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
{%endblock%}